.App {
  background-color: black; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  font-family: Georgia, 'Times New Roman', Times, serif;

  /* background-image: url(https://www.unescap.org/sites/default/files/i-BKzLr9r_0.jpg); */
}

.Card {
  margin-bottom: 3em;
  margin-top : -1em;
  /* height: 70vh; */
  width: 50%;
  align-items: center;


}

.key {
    width: 15%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: lightgray;
    padding: 10px;
    /* transform: scale(0.6); */

}

.key1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
  margin-left: 0;
  margin-right: 0;

  
}

.key1 p{
  font-size: 15px;

}

.key1 .MuiFab-root.majoryearbox2 {
  width: 60px;
  height: 60px;
  margin: 0;
}

.key1 .MuiFab-root.majoryearbox{
  width: 35px;
  height: 35px;
  margin: 0;
} 

.key1 .MuiFab-root.imfbutton {
  width: 50px;
  height: 50px;
  margin: 0;
}

.textbox{
  background: #ffffff;
  opacity: 0.6;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-right:15%;
}
.headercontent {
font-size: 20px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
/* border: 1.5px solid black; */
margin: auto;

}


.Bullet {
  display: inline-block;
  margin: 0 2px;
  transform: scale(0.8);

}



.MuiFab-root.majoryearbox{
  margin: auto;
  background-color: #349beb;
  width: 50px;
  height: 50px;
  margin-bottom: 0.8%;
}


.MuiFab-root.majoryearbox2{
  margin: auto;
  background-color: #349beb;
  width: 120px;
  height: 120px;
  margin-bottom: 0.8%;
}

.flextitle {
display: flex;
flex-direction: column;
top: -5px;
position: relative;
}

.flextitle h1{
  margin: 0;
}

.flextitle p{
  margin: 0;
  font-size: 10px;
}

.MuiFab-root.imfbutton{
  margin: auto;
  background-color:lightsalmon;
  font-size: 8px;
  border-radius: 0;
  height: 70px;
  width: 90px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin-bottom: 0.8%;
}

.expansionpanel {
width: 100%;
/* height: 50vh; */
box-sizing: border-box;

}






.Title {
  font-size: 14;
}

.Pos {
  margin-bottom: 12;
}

.Media {
  height: 150px;
  margin: 1em;
}

.Header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 40vh;
  /* background-color: wheat; */
  font-size: 1.75vw; 
  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  background-size: 100%;
  background-image: url(https://cdn1.imggmi.com/uploads/2019/12/10/f265db7292843a5b19954c712356a432-full.jpg);
  margin-bottom: 100px;

}




.TimelineContent {
  background-color:lightcoral;
}

.TimelineItem {
  flex-direction: columnn;
  padding-top: 1em;
  padding-block-end: 10vw;
  align-content: center;
}

.major-years button,.minor-years button{
  min-width: 7vw;
  max-width: 7vw;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-style: none;
  color: white;
  font-size: 1em;
  background-color: #3498db;
  border-radius: 100%;
  overflow: none;
  text-align: center;
  padding:0;
  margin: auto;
}

.imf button{
  min-width: 4vw;
  max-width: 4vw;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-style: none;
  color: white;
  font-size: 1em;
  background-color: lightsalmon;
  overflow: none;
  text-align: center;
  padding:0;
}

.imf button:before {
  content:'';
  display:inline-block;;
  vertical-align:middle;
  padding-top:100%; 
}

.major-years button:before,.minor-years button:before {
  content:'';
  display:inline-block;;
  vertical-align:middle;
  padding-top:100%;
}


span {
  display:inline-block;
  vertical-align:middle;
  max-width:90%;
}
.round-button:active{
  background-color: #2980b9;
}


.minor-years button {
  min-width: 4vw;
  max-width: 4vw; 
  font-size: 0.5em
}

.infobox {
  color: white;
  width: 20vw;
  height: 40vh;
  background-color: grey;
  position: absolute;
  top: 0;
  /* left: 150%; */
  border: 2px solid black;
}


/* .bubble {
  position: relative;
  padding: 20px;
  display: block;
  border-radius: 3px;
  margin-left: 20px;

}

.bubble:after {
  content: "";
  display: block;
  position: absolute;

  left: -50px;
  
  width: 0; 
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 50px pink;
} */



/* 
.inbox.bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
}

.infobox.bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #00aabb;
	border-top: 0;
	border-left: 0;
	margin-left: -10px;
	margin-top: -20px;
} */



.more{
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0px;
  /* left: 30%; */
  left: 0;
}

/* .majoryearbox2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  height: 30vh;
} */

.majoryearbox {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  height: 40vh;
}

/* .majoryearbox2 {
  position: relative;
  height: 30vh;
}

.majoryearbox3 {
  position: relative;
  height: 15vh;
} */

.infobox2 {
  color: white;
  width: 35vw;
  height: 40vh;
  background-color: grey;
  position: absolute;
  top: 0;
  /* left: 300%; */
  border: 2px solid black;
}


.infobox3 {
  color: white;
  width: 62vw;
  height: 25vh;
  background-color: grey;
  position: absolute;
  top: 0;
  /* left: 150%; */
  border: 2px solid black;
}

.infobox4 {
  color: white;
  width: 62vw;
  height: 15vh;
  background-color: grey;
  position: absolute;
  top: 0;
  /* left: 150%; */
  border: 2px solid black;
}

.button2 {
  align-content: center;
  justify-content: center;
}




